body{
    background-color: #00ffff;
}
#screen{
    border: black 2px solid;
    height : 100px;
    width:300px;
}
#outer-body {
    border : black 2px solid;
    background-color: aqua;
    height: 500px;
    width:300px;
    
}

#row-1{
    width: 300px;
    height: 100px; 
}
#row-2{
    width: 300px;
    height: 100px; 
}
#row-3{
    width: 300px;
    height: 100px; 
}
#row-4{
    width: 300px;
    height: 100px; 
}

button{
    margin: 5px;
    height: 60px;
    width: 60px ;
    background-color: bisque;
}